* {
    padding: 0px 0px 0px 0px;
    box-sizing: border-box;
    margin: 0px 0px 0px 0px;
    transition: all 300ms;
    transition-timing-function: linear;
    scroll-behavior: smooth;
}
*::after,
*::before {
    padding: 0px 0px 0px 0px;
    box-sizing: border-box;
    margin: auto;
}

body {
    min-height: 100vh;
    width: min(100%, 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    /* font-family: "Work Sans", serif; */
    font-family: var(--primary-font-family);
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    flex-direction: column;
    gap: 0px;
    background-color: hsl(0, 0%, 100%);
}

main[class="home-page-component"] {
    min-height: 100vh;
    width: min(100%, 100%);
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    flex-direction: column;    
}


:root {
    --primary-font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* --primary-font-family: "Schibsted Grotesk", serif; */
    --primary-darker-font-color: hsl(0, 0%, 20%);
    --primary-light-font-color: hsl(0, 0%, 50%);
    --primary-color: hsl(273, 100%, 50%);
    --primary-dark-color: hsl(273, 100%, 30%);
    --primary-lighter-color: hsl(270, 50%, 96%);
    --primary-light-color: hsl(270, 50%, 80%);
    --primary-input-search-bar-wrapper-bg-color: hsl(0, 0%, 90%)
}

#root {
    min-height: 100vh;
    width: min(100%, 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

::-webkit-scrollbar {
    width: .4em;
}
::-webkit-scrollbar-thumb {
    width: 1em;
    background-color: var(--primary-light-font-color);
    border-radius: 10em;
}

button:active {
    scale: .8;
}
input {
    outline-style: none;
}
.span {
    font-size: 1em;
    font-weight: calc(300 + 200);
    color: rgb(31, 30, 30);
    line-height: 1.1em;
    max-width: 30em;
    text-align: center;
}

.xtz {
    color: var(--primary-color)
}

/*  */
nav {
    min-height: 5em;
    width: min(100%, 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-flow: row wrap;
    gap: 0em;
    background-color: #fff;
    -webkit-box-shadow: 0 3px 4px -2px #bdbdbd;
    -moz-box-shadow: 0 3px 4px -2px #bdbdbd;
    box-shadow: 0 3px 4px -2px #bdbdbd;
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 5;
    /* border: 1px solid red; */
}
nav > div[class="navigation-bar-component-wrapper"] {
    min-height: 5em;
    width: min(90%, 90%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-flow: row nowrap;
    gap: 1em;
    /* border: 1px solid red; */
}
nav > div[class="navigation-bar-component-wrapper"] a {
    text-decoration: none;
    text-decoration-color: none;
}
nav > div[class="navigation-bar-component-wrapper"] h1 {
    font-size: 1.5em;
    font-weight: calc(270 + 270);
    color: hsl(0, 0%, 20%);
}
nav > div[class="navigation-bar-component-wrapper"] ul {
    min-height: 5em;
    width: min(80%, 40em);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-flow: row wrap;
    gap: 2em;
    /* border: 1px solid red; */
    list-style: none;
    flex-grow: 1;
    object-fit: cover;
}
nav > div[class="navigation-bar-component-wrapper"] ul :is(a) {
    font-weight: normal;
    color: var(--primary-dark-color);
    text-decoration: none;
}
nav > div[class="navigation-bar-component-wrapper"] ul :is(a):where(:hover, :focus) {
    color: var(--primary-color);
}
nav > div[class="navigation-bar-component-wrapper"] :is(button[id="nav-bar-pricing-button"]) {
    height: 3em;
    width: 10em;
    border: none;
    border-radius: .3em;
    color: #fff;
    cursor: pointer;
    background-color: var(--primary-color);
    /* flex-grow: 1; */
    /* border: 1px solid red; */
}

header {
    min-height: 90vh;
    width: min(100%, 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-flow: row wrap;
    background-color: var(--primary-input-search-bar-wrapper-bg-color);
    gap: 1em;
    /* border: 1px solid red; */
    background-image: url(/photos/close-up-young-business-team-working_23-2149153850.avif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
}
header > article[class="header-component-content-wrapper"] {
    min-height: 90vh;
    width: min(100%, 100%);
    /* max-width: 37em; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    flex-direction: column;
    gap: 1.5em;
    flex-grow: 1;
}
header > article[class="header-component-content-wrapper"] {
    min-height: 90vh;
    width: min(100%, 100%);
    /* max-width: 37em; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    flex-direction: column;
    gap: 1.5em;
    background-color: rgba(0, 0, 0, .7);
    text-align: center;
}
header > article[class="header-component-content-wrapper"] :is(h1) {
    font-size: 3em;
    font-weight: bold;
    color: hsl(0, 0%, 100%);
    line-height: 1.1em;
    max-width: 20em;
}
header > article[class="header-component-content-wrapper"] :is(p) {
    font-size: .9em;
    font-weight: calc(250 + 250);
    color: hsl(0, 0%, 100%);
    max-width: 46em;
}
header > article[class="header-component-content-wrapper"] :is(button) {
    height: 4em;
    width: 15em;
    border: none;
    border-radius: .2em;
    color: #fff;
    background-color: var(--primary-color);
    cursor: pointer;
}

/*  */
article[class="organization-services-component"] {
    min-height: 40vh;
    width: min(100%, 100%);
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-flow: row wrap;
    gap: 1em;
}
article[class="organization-services-component"] > div {
    min-height: 15em;
    width: min(100%, 18em);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* border: 1px solid red; */
    -webkit-box-shadow: 0 3px 6px -2px #bdbdbd;
    -moz-box-shadow: 0 3px 6px -2px #bdbdbd;
    box-shadow: 0 3px 6px -2px #bdbdbd;
    border-radius: .0em;
    flex-grow: 1;
    text-align: center;
    gap: 1em;
}
article[class="organization-services-component"] > div h1 {
   font-weight: calc(250 + 250);
   color: hsl(0, 0%, 20%);
   font-size: 2em;
   max-width: 5em;
}
article[class="organization-services-component"] > div h2 {
   font-weight: calc(250 + 250);
   color: hsl(0, 0%, 20%);
   font-size: 1em;
}
article[class="organization-services-component"] > div p {
   font-weight: normal;
   color: hsl(0, 0%, 20%);
   font-size: .9em;
}
article[class="organization-services-component"] > div button {
    height: 4em;
    width: 15em;
    border: none;
    border-radius: .0em;
    color: #fff;
    background-color: var(--primary-color);
    cursor: pointer;
}

/*  */
article[class="organization-experience-bar-component"] {
    min-height: 40vh;
    width: min(100%, 100%);
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-flow: row wrap;
    gap: 3em;
}
article[class="organization-experience-bar-component"] span {
    font-size: 15em;
    color: var(--primary-color);
    font-stretch: expanded;
    font-weight: bold;
}
article[class="organization-experience-bar-component"] div[class="organization-experience-bar-component-content"] {
    min-height: 40vh;
    width: min(100%, 28em);
    /* border: 1px solid red; */
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
    flex-grow: 1;
}
article[class="organization-experience-bar-component"] div[class="organization-experience-bar-component-content"] 
h1 {
    font-size: 2em;
    font-weight: bold;
    color: hsl(0, 0%, 20%);
    max-width: 5em;
}
article[class="organization-experience-bar-component"] div[class="organization-experience-bar-component-content"] 
p {
    font-size: .9em;
    font-weight: normal;
    color: hsl(0, 0%, 20%);
    max-width: 40em;
}
article[class="organization-experience-bar-component"] div[id="progress-count"] {
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-flow: row wrap;
    gap: 0em;
}
article[class="organization-experience-bar-component"] div[id="progress-count"] article {
    height: 8em;
    width: 15em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid hsl(0, 0%, 96%);
    flex-grow: 1;
}
article[class="organization-experience-bar-component"] div[id="progress-count"] article :where(h1[id="rate"]) {
    font-weight: calc(250 + 250);
    color: hsl(0, 0%, 20%);
    font-size: 4em;
}
article[class="organization-experience-bar-component"] div[id="progress-count"] article :where(span) {
    font-weight: calc(250 + 150);
    color: hsl(0, 0%, 60%);
    font-size: 1em;
    /* max-width: 5em; */
}


/*  */
main section[class="home-page-component-content-wrapper"] {
    min-height: 140vh;
    width: min(90%, 90%);
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 5em;
}
main > h1[class="welcome-heading"] {
    font-size: 2em;
    font-weight: bold;
    color: hsl(0, 0%, 15%);
    max-width: 25em;
    text-align: center;
}
main > p[class="welcome-paragraph"] {
    font-size: .9em;
    font-weight: normal;
    color: hsl(0, 0%, 15%);
    max-width: 30em;
    text-align: center;
}

/*  */
div[class="card-components-wrapper"] {
    min-height: 45vh;
    width: min(100%, 100%);
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    flex-flow: row wrap;
    gap: 1em;
}
article[class="article-card-component"] {
    min-height: 15em;
    width: min(100%, 24em);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* border: 1px solid #bdbdbd; */
    -webkit-box-shadow: 0 3px 4px -2px #bdbdbd;
    -moz-box-shadow: 0 3px 4px -2px #bdbdbd;
    box-shadow: 0 3px 4px -2px #bdbdbd;
    border-radius: .0em;
    flex-grow: 1;
    text-align: center;
    gap: 1em;
}
article[class="article-card-component"] :is(h1) {
    font-size: 3em;
    font-weight: bold;
    color: var(--primary-dark-color);
    max-width: 25em;
    line-height: 1.3em;
}
article[class="article-card-component"] :is(h2) {
    font-size: 1.1em;
    font-weight: calc(200 + 300);
    color: hsl(0, 0%, 20%);
    max-width: 25em;
    line-height: 1.3em;
}
article[class="article-card-component"] :is(p) {
    font-size: .9em;
    font-weight: calc(300 + 150);
    color: hsl(0, 0%, 20%);
    max-width: 24em;
    line-height: 1.3em;
}
article[class="article-card-component"]:is(:hover) {
    background-color: hsl(273, 100%, 99%);
}


/*  */
aside[class="first-home-page-component-info-wrapper"] {
    min-height: 20em;
    width: min(100%, 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    /* border: 1px solid red; */
    gap: 2em;
}
aside[class="first-home-page-component-info-wrapper"] div[class="first-home-page-component-info-wrapper-content"] {
    min-height: 20em;
    width: min(90%, 40em);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    /* border: 1px solid red; */
    gap: 1em;
    overflow: hidden;
    cursor: pointer;border-top-left-radius: 1em;
    border-bottom-right-radius: 1em;
}
aside[class="first-home-page-component-info-wrapper"] div[class="first-home-page-component-info-wrapper-content"]
:is(img) {
    height: 100%;
    width: min(100%, 100%);
    object-fit: cover;
    flex-grow: 1;
    
}
aside[class="first-home-page-component-info-wrapper"] div[class="first-home-page-component-info-wrapper-content"]
:is(:hover, :focus):where(img) {
    border-top-left-radius: 0em;
    border-bottom-right-radius: 0em;
    transform: scale(1.2);
}
aside[class="first-home-page-component-info-wrapper"] div[class="first-home-page-component-info-wrapper-content"]
:is(h1) {
    font-size: 2em;
    font-weight: bold;
    color: hsl(0, 0%, 15%);
    max-width: 25em;
    line-height: 1.3em;
}
aside[class="first-home-page-component-info-wrapper"] div[class="first-home-page-component-info-wrapper-content"]
:is(p) {
    font-size: .9em;
    font-weight: normal;
    color: hsl(0, 0%, 15%);
    max-width: 40em;
}
aside[class="first-home-page-component-info-wrapper"] div[class="first-home-page-component-info-wrapper-content"]
:is(button) {
    height: 3em;
    width: 12em;
    border: none;
    border-radius: .3em;
    color: #fff;
    background-color: var(--primary-color);
    cursor: pointer;
}

/*  */
article[class="latest-sites-developed-component"] {
    min-height: 90vh;
    width: min(100%, 100%);
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
    /* background-color: hsl(273, 100%, 98%); */
}
article[class="latest-sites-developed-component"] h1[id="lsh"] {
    font-size: 2em;
    font-weight: bold;
    color: hsl(0, 0%, 20%);
    line-height: 1.1em;
    text-align: center;
    max-width: 30em;
}
article[class="latest-sites-developed-component"] p[id="lsp"] {
    font-size: .9em;
    font-weight: normal;
    color: hsl(0, 0%, 20%);
    line-height: 1.1em;
    max-width: 50em;
    text-align: center;
}
article[class="latest-sites-developed-component"] a[id="lsa"] {
    font-size: .9em;
    font-weight: normal;
    color: hsl(0, 0%, 20%);
    line-height: 1.1em;
    max-width: 30em;
    text-align: center;
}

/*  */
div[class="latest-sites-developed-arr"] {
    min-height: 18em;
    width: min(100%, 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    /* border: 1px solid red; */
    gap: 1em;
    /* flex-grow: 1; */
}
article[class="latest-site-card-component"] {
    min-height: 18em;
    width: min(100%, 19em);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    /* border: 1px solid #eee; */
    gap: 2em;
    position: relative;
    flex-grow: 1;
    -webkit-box-shadow: -2.5px 3px 9.5px -2px #dddddd;
    -moz-box-shadow: -2.5px 3px 9.5px -2px #dddddd;
    box-shadow: -2.5px 3px 9.5px -2px #dddddd;
    overflow: hidden;
}
article[class="latest-site-card-component"] :where(img) {
    height: 18em;
    width: min(100%, 100%);
    flex-grow: 1;
}
article[class="latest-site-card-component"] :where(div) {
    min-height: 7em;
    width: min(100%, 40em);
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    gap: .2em;
    flex-grow: 1;
    position: absolute;
    bottom: 0px;
    left: 0px;
}
article[class="latest-site-card-component"] :where(div) aside {
    min-height: 7em;
    width: min(90%, 90%);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background: rgba(255,255,255,0.6);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    border: 1px solid rgba(255,255,255,0.3);
    gap: .4em;
    /* border: 1px solid red; */
}
#disabled::before {
    content: "Coming Soon!";
    height: 100%;
    width: min(100%, 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 0px;
    left: 0px;
    background: rgba(255,255,255,0.6);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    border: 1px solid rgba(255,255,255,0.3);
        color: var(--primary-color);
    font-weight: normal;
}
article[class="latest-site-card-component"] :where(div) aside h1 {
    font-size: 1.2em;
    font-weight: normal;
    color: hsl(0, 0%, 20%);
    line-height: 1.1em;
    max-width: 30em;
}
article[class="latest-site-card-component"] :where(div) aside a {
    font-size: .9em;
    font-weight: normal;
    color: var(--primary-color);
}
/* article[class="latest-site-card-component"]:where(:hover, :focus) {
    transform: scale(1.1);
} */
article[class="latest-site-card-component"]:where(:hover, :focus) div {
    display: flex;
}
article[class="latest-site-card-component"] :where(div) h1 {
    font-size: 2em;
    font-weight: bold;
    color: hsl(0, 0%, 20%);
    line-height: 1.1em;
    max-width: 30em;
}
article[class="latest-site-card-component"] :where(div) p {
    font-size: .9em;
    font-weight: normal;
    color: hsl(0, 0%, 20%);
    line-height: 1.1em;
    max-width: 30em;
}
article[class="latest-site-card-component"] :where(div) button {
    height: 3em;
    width: 12em;
    border: none;
    border-radius: .3em;
    color: #fff;
    background-color: var(--primary-color);
    cursor: pointer;
}
article[class="latest-site-card-component"] :where(div) img {
    height: 100%;
    width: min(100%, 100%);
    flex-grow: 1;
    object-fit: cover;
    border: 1px solid #eee;
    border-bottom-left-radius: 1em;
    border-top-right-radius: 1em;
}
article[class="latest-site-card-component"] :where(div):is(:hover, :focus) img {
    transform: scale(1.2);
    border-bottom-left-radius: 0em;
    border-top-right-radius: 0em;
}

/*  */
button[class="navigation-upper-scroll-button"] {
    height: 3em;
    width: 6em;
    border: none;
    border-top-left-radius: .2em;
    border-bottom-left-radius: .2em;
    color: #fff;
    background-color: hsl(0, 0%, 15%);
    position: fixed;
    right: 0px;
    bottom: 3em;
    cursor: pointer;
    /* -webkit-box-shadow: 0 5px 10px -2px #bdbdbd;
    -moz-box-shadow: 0 5px 10px -2px #bdbdbd;
    box-shadow: 0 5px 10px -2px #bdbdbd; */
    font-weight: bolder;
    font-size: 1em;
    z-index: 2;
}

/*  */
footer {
    min-height: 27em;
    width: min(100%, 100%);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    background-color: #000;
    z-index: 1;
}
footer > article[class="footer-component-content"] {
    min-height: 19em;
    width: min(90%, 90%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-flow: row wrap;
    /* border: 1px solid red; */
    color: #fff;
    gap: 3em;
}
footer > article[class="footer-component-content"] article {
    min-height: 19em;
    width: min(100%, 22em);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    /* border: 1px solid red; */
    color: #fff;
    flex-grow: 1;
    gap: 1em;
}
footer > article[class="footer-component-content"] article h1 {
    font-size: 1.8em;
}
footer > article[class="footer-component-content"] article p {
    font-size: .9em;
}
footer > article[class="footer-component-content"] article p :where(a) {
    text-decoration-color: none;
    color: hsl(0, 0%, 70%);
}
footer > article[class="footer-component-content"] article .socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    list-style-type: none;
}
footer > article[class="footer-component-content"] article .socials > li {
    font-size: 1.3em;
    cursor: pointer;
}
footer > article[class="footer-component-content"] article .links {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: .5em;
    list-style-type: none;
    flex-direction: column;
}
footer > article[class="footer-component-content"] article .links > a {
    font-size: .9em;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}
footer > article[class="footer-component-content"] article .contacts {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: .5em;
    list-style-type: none;
    flex-direction: column;
}
footer > article[class="footer-component-content"] article .contacts > li {
    font-size: .9em;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}
footer > article[class="footer-component-copyright"] {
    min-height: 4em;
    width: min(100%, 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: hsl(0, 0%, 3%);
    /* border: 1px solid red; */
}
footer > article[class="footer-component-copyright"] :where(span) {
   color: #fff;
   font-size: .7em;
   font-weight: normal;
}