/*  */
@media all and (max-width: 1024px) {

    nav>div[class="navigation-bar-component-wrapper"] ul {
        display: flex;
        gap: 1.2em
    }

    nav>div[class="navigation-bar-component-wrapper"] a[id="nav-bar-pricing-button-wrapper"] {
        display: flex;
    }

    nav>div[class="navigation-bar-component-wrapper"] :is(button[id="nav-bar-pricing-button"]) {
        display: block;
        width: 10em;
    }

    nav>div[class="navigation-bar-component-wrapper"] {
        justify-content: center;
        align-items: center;
        gap: 0em;
    }

    nav>div[class="navigation-bar-component-wrapper"] h1 {
        font-size: 1.2em;
    }

    div[class="dd-menu"] :is(button[class="dd-menu-button"]) {
        display: none;
    }


    /*  */
    header>article[class="header-component-content-wrapper"] :is(h1) {
        font-size: 2.6em;
    }

    header>article[class="header-component-content-wrapper"] :is(p) {
        font-size: .9em;
    }

    /*  */
    aside[class="organization-services-pricing-page-component-content"] div[class="pricing-tags-wrapper"] {
        gap: 3em;
    }

    aside[class="organization-services-pricing-page-component-content"] div[class="pricing-tags-wrapper"] :where(article[id="middle-pricing-tag"])::before {
        left: 7em;
    }

    /*  */
    article[class="organization-experience-bar-component"] {
        gap: 1em;
    }

    article[class="organization-experience-bar-component"] span {
        font-size: 10em;
    }

    article[class="organization-experience-bar-component"] div[class="organization-experience-bar-component-content"] {
        align-items: flex-start;
        text-align: left;
    }

    /*  */
    article[class="testimonials-component"] div :is(article) {
        min-height: 20em;
        /* border: 1px solid red; */
    }

    article[class="testimonials-component"] div :is(article)::before {
        display: none;
    }

    /*  */
    section[class="organization-developers-section-component"]>div[class="organization-developers-section-component-content-wrapper"]>div[class="developers-cards-wrapper"] article {
        max-width: 19em;
    }

    /*  */
    article[class="organization-skills-showcase-component"] div :is(article)>p {
        max-width: 30em;
    }

    /*  */
    footer {
        min-height: 50em;
    }

    footer>article[class="footer-component-content"] {
        gap: 2em;
    }
}


/*  */
/*  */
@media all and (max-width: 768px) {

    nav>div[class="navigation-bar-component-wrapper"] ul {
        display: none;
    }

    nav>div[class="navigation-bar-component-wrapper"] a[id="nav-bar-pricing-button-wrapper"] {
        display: none;
    }

    nav>div[class="navigation-bar-component-wrapper"] :is(button[id="nav-bar-pricing-button"]) {
        display: none;
    }

    nav>div[class="navigation-bar-component-wrapper"] {
        justify-content: flex-end;
        align-items: center;
        gap: 6em;
    }

    nav>div[class="navigation-bar-component-wrapper"] h1 {
        font-size: 1.2em;
    }

    div[class="dd-menu"] :is(button[class="dd-menu-button"]) {
        width: 16em;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    /*  */
    header>article[class="header-component-content-wrapper"] :is(h1) {
        font-size: 2.4em;
    }

    header>article[class="header-component-content-wrapper"] :is(p) {
        font-size: .8em;
    }

    /*  */
    aside[class="organization-services-pricing-page-component-content"] div[class="pricing-tags-wrapper"] {
        gap: 3em;
    }

    aside[class="organization-services-pricing-page-component-content"] div[class="pricing-tags-wrapper"] :where(article[id="middle-pricing-tag"])::before {
        left: 7em;
    }

    /*  */
    article[class="organization-experience-bar-component"] {
        gap: 1em;
    }

    article[class="organization-experience-bar-component"] span {
        font-size: 10em;
    }

    article[class="organization-experience-bar-component"] div[class="organization-experience-bar-component-content"] {
        align-items: flex-start;
        text-align: left;
    }

    /*  */
    article[class="testimonials-component"] div :is(article) {
        min-height: 15em;
        /* border: 1px solid red; */
    }

    article[class="testimonials-component"] div :is(article)::before {
        display: block;
    }

    /*  */
    article[class="organization-skills-showcase-component"] div :is(article)>p {
        max-width: 36em;
    }

    /*  */
    footer {
        min-height: 65em;
    }

    footer>article[class="footer-component-content"] {
        gap: 0em;
    }
}


/*  */
/*  */
@media all and (max-width: 425px) {

    nav>div[class="navigation-bar-component-wrapper"] ul {
        display: none;
    }

    nav>div[class="navigation-bar-component-wrapper"] a[id="nav-bar-pricing-button-wrapper"] {
        display: none;
    }

    nav>div[class="navigation-bar-component-wrapper"] :is(button[id="nav-bar-pricing-button"]) {
        display: none;
    }

    nav>div[class="navigation-bar-component-wrapper"] {
        justify-content: flex-end;
        align-items: center;
        gap: 4em;
    }

    nav>div[class="navigation-bar-component-wrapper"] h1 {
        font-size: 1.2em;
    }

    div[class="dd-menu"] :is(button[class="dd-menu-button"]) {
        width: 6em;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    /*  */
    header>article[class="header-component-content-wrapper"] :is(h1) {
        font-size: 2em;
    }

    header>article[class="header-component-content-wrapper"] :is(p) {
        font-size: .8em;
    }

    /*  */
    aside[class="organization-services-pricing-page-component-content"] div[class="pricing-tags-wrapper"] {
        gap: 3em;
    }

    aside[class="organization-services-pricing-page-component-content"] div[class="pricing-tags-wrapper"] :where(article[id="middle-pricing-tag"])::before {
        left: 7em;
    }

    /*  */
    article[class="organization-experience-bar-component"] {
        gap: 1em;
    }

    article[class="organization-experience-bar-component"] span {
        font-size: 10em;
    }

    article[class="organization-experience-bar-component"] div[class="organization-experience-bar-component-content"] {
        align-items: center;
        text-align: center;
    }

    /*  */
    article[class="testimonials-component"] div :is(article) {
        min-height: 25em;
        /* border: 1px solid red; */
    }

    article[class="testimonials-component"] div :is(article)::before {
        display: none;
    }

    /*  */
    footer {
        min-height: 65em;
    }

    footer>article[class="footer-component-content"] {
        gap: 0em;
    }
}


/*  */
/*  */
@media all and (max-width: 375px) {

    nav>div[class="navigation-bar-component-wrapper"] ul {
        display: none;
    }

    nav>div[class="navigation-bar-component-wrapper"] a[id="nav-bar-pricing-button-wrapper"] {
        display: none;
    }

    nav>div[class="navigation-bar-component-wrapper"] :is(button[id="nav-bar-pricing-button"]) {
        display: none;
    }

    nav>div[class="navigation-bar-component-wrapper"] {
        justify-content: flex-end;
        align-items: center;
        gap: 0em;
        /* border: 1px solid red; */
    }

    nav>div[class="navigation-bar-component-wrapper"] h1 {
        font-size: 1.2em;
    }

    div[class="dd-menu"] :is(button[class="dd-menu-button"]) {
        width: 6.5em;
        display: flex;
        align-items: center;
        /* border: 1px solid red; */
        justify-content: flex-end;
    }

    /*  */
    header>article[class="header-component-content-wrapper"] :is(h1) {
        font-size: 2em;
    }

    header>article[class="header-component-content-wrapper"] :is(p) {
        font-size: .8em;
    }

    /*  */
    aside[class="organization-services-pricing-page-component-content"] div[class="pricing-tags-wrapper"] {
        gap: 3em;
    }

    aside[class="organization-services-pricing-page-component-content"] div[class="pricing-tags-wrapper"] :where(article[id="middle-pricing-tag"])::before {
        left: 3.5em;
    }

    /*  */
    article[class="organization-experience-bar-component"] {
        gap: 1em;
    }

    article[class="organization-experience-bar-component"] span {
        font-size: 10em;
    }

    article[class="organization-experience-bar-component"] div[class="organization-experience-bar-component-content"] {
        align-items: center;
        text-align: center;
    }

    /*  */
    article[class="testimonials-component"] div :is(article) {
        min-height: 30em;
        /* border: 1px solid red; */
    }

    article[class="testimonials-component"] div :is(article)::before {
        display: none;
    }

    /*  */
    footer {
        min-height: 65em;
    }

    footer>article[class="footer-component-content"] {
        gap: 0em;
    }
}

/*  */
/*  */
@media all and (max-width: 320px) {

    nav>div[class="navigation-bar-component-wrapper"] ul {
        display: none;
    }

    nav>div[class="navigation-bar-component-wrapper"] a[id="nav-bar-pricing-button-wrapper"] {
        display: none;
    }

    nav>div[class="navigation-bar-component-wrapper"] :is(button[id="nav-bar-pricing-button"]) {
        display: none;
    }

    nav>div[class="navigation-bar-component-wrapper"] {
        justify-content: flex-end;
        align-items: center;
        gap: 0em;
        /* border: 1px solid red; */
    }

    nav>div[class="navigation-bar-component-wrapper"] h1 {
        font-size: 1.2em;
    }

    div[class="dd-menu"] :is(button[class="dd-menu-button"]) {
        width: 4.8em;
        display: flex;
        align-items: center;
        /* border: 1px solid red; */
        justify-content: flex-end;
    }

    /*  */
    header>article[class="header-component-content-wrapper"] :is(h1) {
        font-size: 2em;
    }

    header>article[class="header-component-content-wrapper"] :is(p) {
        font-size: .8em;
    }

    /*  */
    aside[class="organization-services-pricing-page-component-content"] div[class="pricing-tags-wrapper"] {
        gap: 3em;
    }

    aside[class="organization-services-pricing-page-component-content"] div[class="pricing-tags-wrapper"] :where(article[id="middle-pricing-tag"])::before {
        left: 3.5em;
    }

    /*  */
    article[class="organization-experience-bar-component"] {
        gap: 1em;
    }

    article[class="organization-experience-bar-component"] span {
        font-size: 10em;
    }

    article[class="organization-experience-bar-component"] div[class="organization-experience-bar-component-content"] {
        align-items: center;
        text-align: center;
    }

    /*  */
    article[class="testimonials-component"] div :is(article) {
        min-height: 30em;
        /* border: 1px solid red; */
    }

    article[class="testimonials-component"] div :is(article)::before {
        display: none;
    }

    /*  */
    footer {
        min-height: 65em;
    }

    footer>article[class="footer-component-content"] {
        gap: 0em;
    }
}